{
  "users": [
    {
      "username": "Elizabeth Taylor",
      "email": "Elizabeth@email.com",
      "password": "Taylor",
      "id": 1
    },

    {
      "username": "Garth Brooks",
      "email": "Garth@email.com",
      "password": "Broooks",
      "id": 2

    }
    ],
   
    "posts": [
      {
        "giffyUserId": 1,
        "title": "test",
        "URL": "test",
        "description": "test",
        "date": 1641561077173,
        "id": 4
      },
      {
        "giffyUserId": 1,
        "title": "test 2",
        "URL": "test 2",
        "description": "test 2",
        "date": 1641561875383,
        "id": 5
      },

    ]
   "messages": [
      {
        "authorId": 1,
        "recipientId": 2,
        "text": "What up bro",
        "read": true
      }
    ]
