{
  "users": [
    {
      "username": "Elizabeth Taylor",
      "email": "Elizabeth@email.com",
      "password": "Taylor",
      "id": 1
    },

    {
      "username": "Garth Brooks",
      "email": "Garth@email.com",
      "password": "Broooks",
      "id": 2

    }
    ],
   
    "posts": [
      {
        
        "userId": 1
        "title": "Crazy Times",
        "imageURL":https://media.giphy.com/media/xGyPhPlrFPimO59wAS/giphy.gif",
        "description": "Jimmy Fallon",
        "timestamp": 01/07/2022,
        "authorName": "Elizabeth Taylor",
        "favorite": "no"
        "id": 1 
      },

      {
        "id": 2
        "userId": 2
        "title": "Issa Ray"
        "imageURL":"https://media.giphy.com/media/mdtoXraBEzEjjBlrOB/giphy.gif"
        "description": "that first check from your new tech job"  
        "timestamp": 01/09/2022
        "authorName": "Garth Brook"
        "favorite": "yes"
      }

    ]
}